@import "../../../shared/palette.scss";
.container {
  width: 100%;
  display: flex;
  padding-top: 80px;
  > .product-filter {
    width: 30%;
    background-color: $nav-links;

    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  > .cards {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    > .card {
      min-width: 30%;
      max-width: 40%;

      overflow-x: hidden;

      border: 1px solid $input-border-color;
      border-radius: 8px;

      background-color: $nav-links;
      box-shadow: 0 4px 6px $card-box-shadow;
    }
  }
}
