<nav class="navbar">
  <div class="logo">Mishas Shop</div>
  <ul class="nav-links">
    <li><a routerLink="/" class="main-font">Home</a></li>
    <li>
      <a routerLink="/shopping-cart" class="main-font">Shopping Cart</a>
      <span class="product-amount">{{ shoppingCartItemCount }}</span>
    </li>

    <ng-template #anonymousUser>
      <li>
        <a routerLink="/login" class="main-font">Log In</a>
      </li>
    </ng-template>
    <li class="dropdown" *ngIf="appUser; else anonymousUser">
      <a class="dropbtn" class="main-font">{{ appUser.name }}</a>
      <div class="dropdown-content">
        <a routerLink="/my/orders" class="main-font">My Orders</a>
        <ng-container *ngIf="appUser.isAdmin">
          <a routerLink="/admin/orders" class="main-font" (click)="log()"
            >Manage Orders</a
          >
          <a routerLink="/admin/products" class="main-font">Manage Products</a>
        </ng-container>
        <a class="main-font" (click)="logout()">Log Out</a>
      </div>
    </li>
  </ul>
</nav>
