<div class="container">
  <p><a routerLink="/admin/products/new" class="main-font">New Product</a></p>
  <p>
    <input
      type="text"
      placeholder="Search"
      (keyup)="filter(query.value)"
      #query
    />
  </p>
  <table class="table">
    <thead>
      <tr class="main-font">
        <th>Title</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of filteredProducts" class="secondary-font">
        <td>{{ p.title }}</td>
        <td>{{ p.price | currency : "USD" : true }}</td>
        <td>
          <a [routerLink]="['/admin/products/', p.key]"> Edit </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
