<div class="container">
  <h1 class="main-font">Shopping Cart</h1>
  <ng-container *ngIf="cart$ | async as cart">
    <p class="secondary-font">
      you have {{ cart.totalItemsCount }} items in your shopping cart
    </p>
    <table class="table">
      <thead>
        <tr>
          <th class="main-font">Product</th>
          <th class="main-font">Quantity</th>
          <th class="main-font">Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td class="secondary-font">{{ item.title }}</td>
          <td>
            <product-quantity
              [product]="item"
              [shopping-cart]="cart"
            ></product-quantity>
          </td>
          <td class="secondary-font">
            {{ item.totalPrice | currency : "USD" : true }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th class="secondary-font">
            {{ cart.totalPrice | currency : "USD" : true }}
          </th>
        </tr>
      </tfoot>
    </table>
    <a
      routerLink="/check-out"
      class="check-out main-font"
      *ngIf="cart.totalItemsCount"
      >Check Out</a
    >
    <button
      (click)="clearCart()"
      class="danger-button main-font"
      *ngIf="cart.totalItemsCount"
    >
      Clear Shopping Cart
    </button>
  </ng-container>
</div>
