<div class="card-header">
  <img
    [src]="product.imageUrl"
    class="card-img"
    *ngIf="product.imageUrl"
    alt="{{ product.title }}"
  />
</div>
<div class="card-body">
  <h5 class="card-title main-font">{{ product.title }}</h5>
  <p class="card-text secondary-font">
    {{ product.price | currency : "USD" : "symbol" }}
  </p>

  <div *ngIf="showActions" class="card-footer">
    <button
      (click)="addToCart()"
      class="secondary-font"
      *ngIf="getQuantity() === 0; else updateQuantity"
    >
      Add to Cart
    </button>
    <ng-template #updateQuantity class="quantity-adjust">
      <button class="adjust" (click)="removeFromCart()">-</button>
      <div class="amount main-font">{{ getQuantity() }}</div>
      <button class="adjust" (click)="addToCart()">+</button>
    </ng-template>
  </div>
</div>
