<div class="card-header">
  <img
    [src]="product.imageUrl"
    class="card-img"
    *ngIf="product.imageUrl"
    alt="{{ product.title }}"
  />
</div>
<div class="card-body">
  <h5 class="card-title main-font">{{ product.title }}</h5>
  <p class="card-text secondary-font">
    {{ product.price | currency : "USD" : "symbol" }}
  </p>
  <div class="card-footer">
    <button
      (click)="addToCart(product)"
      *ngIf="showActions"
      class="secondary-font"
    >
      Add to Cart
    </button>
  </div>
</div>
