<div class="card-header">
  <img
    [src]="product.imageUrl"
    class="card-img"
    *ngIf="product.imageUrl"
    alt="{{ product.title }}"
  />
</div>
<div class="card-body">
  <h5 class="card-title main-font">{{ product.title }}</h5>
  <p class="card-text secondary-font">
    {{ product.price | currency : "USD" : "symbol" }}
  </p>

  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
      (click)="addToCart()"
      class="secondary-font"
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
    >
      Add to Cart
    </button>
    <ng-template #updateQuantity class="quantity-adjust">
      <product-quantity
        [product]="product"
        [shopping-cart]="shoppingCart"
      ></product-quantity>
    </ng-template>
  </div>
</div>
