.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    > div {
      width: 60%;
      display: flex;
      flex-direction: column;
      > input,
      > select {
        margin-bottom: 20px;
      }
    }
    > button {
      margin-right: auto;
      margin-left: 20%;
    }
  }
  .card {
    min-width: 30%;
    max-width: 50%;
    overflow-x: hidden;
    min-height: 20%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    background-color: #f8f9fa;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    > img {
      width: 100%;
    }
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .card-text {
    font-size: 1.5rem;
    color: #555;
  }

  .card-footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
