<div class="container">
  <h2 class="main-font">Your order has been placed successfully!</h2>
  <a routerLink="/" class="main-font">Back to home page</a>
  <img
    src="../../../../assets/images/order-success/338156628_1357817964998167_6140675559579167666_n.jpg"
    alt="Meme"
  />
  <img
    src="../../../../assets/images/order-success/394115831_326527623400593_746131457444331592_n.jpg"
    alt="Meme"
  />
  <img
    src="../../../../assets/images/order-success/pngtree-golden-fireworks-png-image_6499211.png"
    alt=""
  />
</div>
